sudo: required
language: ruby
services:
  - docker

before_install:
  # start any containers we need for tests
  - ./start-containers.sh

script:
  # core build is to run the tests
  - bundle exec rake spec
  
after_success:
  - ./build_images.sh
  - ./publish_images.sh
