<!-- ko if: is_xalgo -->
= render('tabs', tabs: console_tabs, vm: 'console')
<!-- ko if: tabs.console.active() === 'tables' -->
= render('tab_tables')
<!-- /ko -->
<!-- ko if: tabs.console.active() === 'stack' -->
= render('tab_stack')
<!-- /ko -->
<!-- ko if: tabs.console.active() === 'errors' -->
= render('tab_errors')
<!-- /ko -->
<!-- /ko -->
