<!-- ko if: is_xalgo -->
= render('tabs', tabs: xalgo_tabs, vm: 'xalgo')
<!-- ko if: tabs.xalgo.active() === 'rule' -->
= render('tab_rule')
<!-- /ko -->
<!-- ko if: tabs.xalgo.active() === 'tables' -->
= render('tab_global_tables')
<!-- /ko -->
<!-- /ko -->

